/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}




p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow:indigo;
    outline: none !important;
    border: none;
}

.btn-info {
    color: #fff;
    background-color: #3445b4;
    border-color: #46b8da;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.one{
    background: #fff;
    color: #7386D5;
}
a.two, a.two:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
   
}

.fa-user{
    font-size: 20px;   
}


/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-brand img {
    position: absolute;
}
.nav-brand img {
    max-width: 100px;
    position: relative;;
    top: 8px;
}
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;

    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    color: #3445b4;
  }

 .navbar img {
    max-width: 30px;
    position: relative;;
    top: 1px;
    background-color: #3445b4;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


 /*CSS For footer  */
/* *{
  height: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
} */
Footer{

position: fixed;

  width: 100%;

  bottom: 0;
  left: 0;
  /* background: #3445b4; */
  background-color: rgba(0, 0, 0, 0.8);
}
Footer .content{
  max-width: auto;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
Footer .content p,a{
  color: #fff;
}
Footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
Footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
Footer .content p{
  text-align: justify;
}
Footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
Footer .content .lower i{
  padding-right: 16px;
}
Footer .content .middle{
  padding-left: 80px;
}
Footer .content .middle a{
  line-height: 32px;
}
Footer .content .right textarea{
  height: 50px;
  width: 280px;
  outline: #eb0606;
  /* border-color: red; */
  background: rgb(245, 236, 236);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
  border: 2px solid #222222;
}
Footer .content .right input[type="submit"]{
  height: 42px;
  width: 40%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
Footer .right .media-icons a{
  font-size:20px;
  color: #fff;
  height: 35px;
  width: 30px;
  display: inline-block;
  /* text-align: center; */
  line-height: 35px;
  /* border: 2px solid #f0f4f0; */
  margin: 10px 5px 0px;
  transition: all 0.3s ease;
  padding-right:10px;
}

.content .media-icons a:hover{
  border-color: #eb0606;
}
Footer .bottom{
  /* width: 100%; */
  text-align: left;  
  color: #d6d136;
  padding: 0 20px 5px 0;
}
Footer .bottom a{
  color: #eb2f06;
}
Footer a{
  transition: all 0.3s ease;
}
Footer a:hover{
  color: #eb0606;
}


 
