{% extends 'main.html' %}
<!-- {% load static %} -->


{% block content %}
   <h1> Rooms</h1>
   <ul>
{%for room in rooms %}
   <li> {{ room }} </li>

{% endfor %}
   </ul>

{% endblock %}



   <!-- <div class= "row">
      <div class= "col-lg-4">
         <img class= 'thumbnail' src= "{{room.imageURL}}">
         <div class= "box-element room">
           <h6><strong>{{room.name}}</strong></h6>
           <hr>
           
           <button data-product={{room.id}} data-action="add" class = "btn btn-outline-secondary add-btn update-cart">Reserve</button>
           <a class= "btn btn-outline-success" href="#"> View </a>
           <h4 style = "display: inline-block; float: right"><strong> ${{room.price|floatformat:2}}</strong></h4>
         </div>
      </div> -->

   <!-- </div>    -->




